
<%= render 'shared/errors', obj: @user %>


<div class='row'>
	<div class="col-sm-12">
		<%= form_for @user, :html => {class: 'form-horizontal', rule: 'form'} do |f| %>

      <div class="row">
        <!-- Username label and text field --->
        <div class='form-group'>
          <div class='col-xs-1 control-label col-xs-offset-3'>
            <%= f.label :username %>
          </div>
          <div class='col-xs-4'>
            <%= f.text_field :username, class: 'form-control',
              placeholder: "Enter Username", autofocus: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- email label and text field. --->
        <div class='form-group'>
          <div class='col-xs-1 control-label col-xs-offset-3'>
            <%= f.label :email %>
          </div>
          <div class='col-xs-4'>
            <%= f.email_field :email, class: 'form-control',
              placeholder: "Enter email" %>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- password label and text field. --->
        <div class='form-group'>
          <div class='col-xs-1 control-label col-xs-offset-3'>
            <%= f.label :password %>
          </div>
          <div class='col-xs-4'>
            <%= f.password_field :password, class: 'form-control',
              placeholder: "Enter Password" %>
          </div>
        </div>
      </div>

      <div class='row'>
        <!--- Submit Button --->
        <div class='form-group'>
          <div class="col-xs-1 col-xs-offset-5">
            <%= f.submit(@user.new_record? ? 'Sign up' : 'Update', class: 'btn btn-primary btn-md')%>
          </div>
          <div class="col-xs-1">
            <%= link_to 'Cancel', users_path, class: 'btn btn-md btn-secondary' %>
          </div>
        </div>
      </div>

			<% end %> 
	</div>
</div>	
